.square{
    height: 100px;
    width: 100px;
    background-color: lightgray;
    display: inline-block;
    border-radius: 10px;
}   
body {
    padding-top: 10vh;
    margin: auto;
    text-align: center;
    background: lavender;
}   

button {
    background-color: lightgray;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;

}
button:focus{
    background-color: darkgray;
    border-radius: 10px;
}
